.date-range {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.icon {
    margin-top: 3px;
}

.align-left {
    text-align: left;
}

.dropdown-cursor {
    cursor: pointer;
    cursor: hand;
}

.display-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
