.date-range {
    cursor: pointer;
    padding: 0px;
    width: 100%;

    > .fa-caret-down {
        padding-right: 4px;
    }
}

.icon {
    margin-top: 3px;
    padding-right: 3px;
}

.align-left {
    text-align: left;
}

.display-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
