<article class="harvest-log-list-breadcrumb-class">

  <ul class="breadcrumb">
    <li>{{#link-to "status.source-detail" label}}Harvest Log List{{/link-to}}</li>
  </ul>

    <div>
    	<style>
    	ul.breadcrumb{
    		padding: 10px;
    		list-style: none;
    		background-color: #eee;
    		font-size: 17px;
    	}
    	ul.breadcrumb li {display: inline;}
    	ul.breadcrumb li+li:before {
    			padding: 8px
    			color: black;
    			content: "/\00a0";
    	}
    	ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
    	}
    	ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    	}
</style>
</div>
</article>
