<div class="infoBox" style="width: 25em; height: 25em;">
  <div class="infoBox-content" style="padding-top: 30px ;" >
    <span class="infoBox-text" style="
        font-size: 40px ;
        font-weight: bold ;
        color: #5b5e59 ;
        font-family: 'Yanone Kaffeesatz' , sans-serif;
        -webkit-font-smoothing: antialiased ;
        ">{{label}}</span>
  </div>
  <i style="font-size: 1000%; margin-top: 10px; color: #5b5e59 ;" class={{icon}}></i>
</div>
