<div class="page-nav">
  <button class="btn btn-link" disabled={{atFirstPage}} {{action prevPage}}>Prev</button>
  <button class="btn btn-link" disabled={{atLastPage}} {{action nextPage}}>Next</button>
</div>
