<div class='choices'>
    {{#power-select-multiple
        options=languages
        placeholder=placeholder
        selected=selected
        onchange=(action "changeFilter")
        as |language|
    }}
        {{language}}
    {{/power-select-multiple}}
</div>
