<h5>{{obj.title}}</h5>
<div><b>Contributors:</b>
{{#each obj.contributors as |contrib index|}}
    {{#if index}}
     -
    {{/if}}
    {{contrib.family_name}}
{{/each}}</div>
<div><b>Description:</b>
{{abbreviation}}</div>
