<div class='col-xs-4'>
    <div class='field-select'>
        {{#power-select
            options=fieldOptions
            selected=selectedField
            onchange=(action 'changeField')
            as |field|}}
            {{field}}
        {{/power-select}}
    </div>

    <div class='donut'>
    </div>
</div>
<div class='col-xs-8'>
    <div class='histogram'>
    </div>
</div>
