@import 'bootstrap';
@import 'font-awesome';
@import 'ember-power-select';

@import 'base';

@import 'pod-styles';
@import 'daterangepicker.scss';
@import 'c3';

// note that flex-wrap can mess spacing up in safari so use sparingly
// https://github.com/backdrop/backdrop-issues/issues/1985

html {
  height: 100%;
}

body > div.ember-view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    flex: 1 0 auto;
  }
}

// Variables
$color-white: #fff;

$color-bg-blue-light: #c5d6e6;
$color-bg-gray-light: #f5f5f5;
$color-bg-gray-lighter: #eee;

$color-text-blue: #204762;
$color-text-dark: #333;
$color-text-gray-dark: #808080;


// Index Style

.index-search-section {
  background: $color-bg-blue-light url('images/bg6.jpg') top center repeat-y;
  background-size: cover;
  min-height: 700px;
}

.index-source-section {
  background: $color-bg-blue-light url('images/bg7.jpg') top center repeat-y;
  background-size: cover;
}

.index-jumbo {
  padding-bottom: 40px;
}

.index-background {
  display: block;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.index-search-row {
  margin-left: 15px;
  margin-right: 15px;
}

#index-row {
  display: flex;
  justify-content: center;
}


// hide search icon on mobile to prevent strange wrapping
@media (max-width: 420px) {
  .index-search-icon {
    display: none;
  }
}

#index-tile-row {
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 40px;
  text-align: center;
}

.index-tile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.form-control {
  font-size: 12px;
  width: 100%;
}

.index-advanced {
  font-size: 12px;
}

.index-info {
  background-color: $color-white;
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 25px;
}

.share-search {
  .search-button {
    font-size: 150%;
    margin-left: -20px;
    margin-top: 5px;
  }

  .feed-button {
    font-size: 150%;
    margin-left: 5px;
    margin-top: 5px;
  }
}

// Discover

.discover-font-margin {
  font-size: 75%;
  margin-top: 15px;
}

.discover-filter-facets {
  margin-bottom: 8px;
  width: 100%;
}

.discover-filter-block {
  background: $color-text-gray-dark;
  border-radius: 5px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 75%;
  margin: 2px;
  padding-top: 2px 4px;
}

.discover-filter-block:hover {
  background: $color-text-gray-dark;
  color: $color-white;
  text-decoration: none;
}

.discover-filter-list {
  padding-top: 8px;
}

.clear-filters {
  background-color: $color-bg-gray-light;
  color: $color-text-blue;
}

.btn-select {
  background-color: $color-bg-gray-light;
  border-color: #ccc;
  color: $color-text-blue;
  font-size: 14px;
  height: 33px;
}

.no-results {
  color: $color-text-blue;
  font-size: 15px;
}

.title-container {
  background-color: $color-bg-gray-lighter;
  font-size: 24px;
  padding: 30px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);

  h1 {
    font-size: 40px;
    line-height: 1;
    margin-top: 0;
  }

  p {
    color: $color-text-gray-dark;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0;
  }

  .retraction-alert {
    font-size: 14px;
    padding: 10px 30px;
    text-align: left;
  }
}

hr.divider {
  margin-bottom: 10px;
  margin-top: 0;
}

// Detail

.detail-back-arrow-block {
  text-align: left;
}

.detail-back-arrow {
  color: $color-text-dark;
  cursor: pointer;
}

.detail-section-divider {
  margin-bottom: 10px;
  margin-top: 0;
}

.detail-bottom-padding {
  padding-bottom: 30px;
}
