@import 'bootstrap';
@import 'font-awesome';
@import 'ember-power-select';

@import 'base';

@import 'pod-styles';
@import 'daterangepicker.scss';
@import 'c3';
@import 'registration' ;

/*
    note that flex-wrap can mess spacing up in safari so use sparingly
    https://github.com/backdrop/backdrop-issues/issues/1985
*/


/* Index Style */

.index-search-section {
    min-height: 700px;
    background: #C5D6E6 url('images/bg6.jpg') top center repeat-y;
    background-size: cover;
}

.index-source-section {
    background: #C5D6E6 url('images/bg7.jpg') top center repeat-y;
    background-size: cover;
}

.index-jumbo {
    padding-bottom: 40px ;
}

.index-background {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    height: 20% ;
    width: 20% ;
}

.index-search-row {
    margin-left: 15px;
    margin-right: 15px;
}

#index-row {
    display: flex ;
    justify-content: center ;
}


// hide search icon on mobile to prevent strange wrapping
@media (max-width: 420px) {
    .index-search-icon {
        display: none;
    }
}

#index-tile-row {
    padding-top: 40px;
    flex-wrap: wrap ;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.index-tile {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    display: block;
}

.form-control {
    font-size: 12px ;
    width: 100% ;
}

.index-advanced {
    font-size: 12px ;
}

.index-info {
    background-color: white ;
    padding-top: 25px ;
    padding-bottom: 25px ;
    background-size: cover ;
}

.index-provider {
    min-height: 400px ;
    padding-top: 25px ;
    padding-bottom: 25px ;
}

.index-provider-title {
    color: rgb(224, 235, 243) ;
    font-family: 'Yanone Kaffeesatz' , sans-serif;
    font-weight: bold ;
    font-size: 40px ;
    padding-left: 15px;
    padding-right: 15px;
    display: flex ;
    justify-content: center ;
}

#index-provider-tile {
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap ;
}

.share-search {

    .search-button {
        margin-left: -20px;
        margin-top: 5px;
        font-size: 150%;
    }

    .feed-button {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 150%;
    }
}

/* Discover */

// lightslategray is a blue-gray color
$discover-background-color: lighten(lightslategray, 45%);
$discover-result-background-color: white;
$text-muted: #777777;

// light gray
$facet-separator-color: #AAA;
// minumum gray contrast that meets WCAG 2.0 AA/AAA standards
$default-text-color: #4f5050;
// use for hover on buttons and dark text
$darkest-color: #222;
// bright blue
$default-text-color-active: #337ab7;
// dark blue
$default-link-hover-color: #23527c;


.discover-search-section {
    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $discover-background-color;
}

.discover-search-block {
    max-width: 1020px;
    padding-right: 220px;
    padding-left: 0px;
    width: 100%;
}

.discover-flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    background-color: $discover-background-color;
}

.discover-flex-search-container {
    display: flex;
    justify-content: center;
}

.discover-sidebar {
    width: 220px;
    padding-left: 20px;
    margin-top: -26px;
}

.discover-main-content {
    width: 100%;
    padding-bottom: 15px;
}

.no-results {
    font-size: 15px ;
    color: dimgray;
}

.discover-font {
    font-size:75%;
    > i > a {
        color: $default-text-color;
    }

    > i > a:hover {
        color: $darkest-color;
        text-decoration: none;
    }

    > i > a:active {
        color: $default-text-color-active;
    }

    > i > a:focus {
        text-decoration: none;
        outline: none;
    }

    > i > .elasticsearch-link {
        color: $default-text-color-active;
    }

    > i > .elasticsearch-link:hover {
        color: $default-link-hover-color;
    }

}

.discover-filter-facets {
    margin-bottom: 8px;
    padding-right: 8px;
    width: 100%;
}

.discover-filter-block {
    border-radius: 5px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
    background: gray;
    display: inline-block;
    font-size: 75%;
    cursor: pointer;
}

.discover-filter-block:hover {
    color: white;
    background: gray;
    text-decoration: none;
}

.discover-filter-list {
    padding-top: 8px;
}

.reset-filters-section {
    border-top: 1px solid transparent;
    border-color: $facet-separator-color;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.reset-filters-btn, .reset-filters-btn:focus {
    color: $default-text-color;
    background-color: $discover-background-color;
    border: none;
    padding-left: 0px;
    outline: none;
}

.reset-filters-btn:hover {
    color: $darkest-color;
}

.reset-filters-btn:active {
    color: $default-text-color-active;
}

.discover-btn-select {
    background-color: $discover-background-color;
    color: $default-text-color;
    padding: 0px;
    border-width: 0px;
}

.discover-btn-select:hover {
    color: $darkest-color;
}

.discover-btn-select:active {
    color: $default-text-color-active;
}

.discover-search-icons {
    > a:hover {
        text-decoration: none;
    }
}

.search-result-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: $discover-result-background-color;
}

.discover-results-found {
    color: $default-text-color;
}

.tooltip-helper {
    padding-left: 4px;
    width: 100%;

    > .help-icon {
        height: 100%;
        align-items: center;
        display: flex;
        padding-right: 3px;
    }
}

.tooltip-helper:focus {
    outline: none;
}

.discover-dropdown-menu {
    background-color: white;

    > .dropdown-cursor {
        cursor: pointer;
        cursor: hand;
        > a {
            color: $default-text-color;
        }
        > a:hover, a:focus {
            background-color: $default-text-color;
            background-image: none;
            color: white;
        }
    }
}

.restrict-width {
    max-width: 800px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Detail */

.title-container {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;

    position: relative;
    padding: 30px 0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #EEE;

    h1 {
        margin-top: 0;
        line-height: 1;
        font-size: 40px;
    }

    p {
        color: grey;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 0px;
    }

    .retraction-alert {
        text-align: left;
        font-size: 14px;
        padding: 10px 30px;
    }
}

.detail-back-arrow-block {
    text-align: left;
}

.detail-back-arrow {
    color: $default-text-color;
    cursor: pointer;
}

.detail-section-divider {
    margin-top: 0px;
    margin-bottom: 10px;
}

.detail-bottom-padding {
    padding-bottom: 30px;
}

/* Error page */

.error-image {
    -webkit-animation:spin 600s linear infinite;
    -moz-animation:spin 600s linear infinite;
    animation:spin 600s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
