.container{
    font-family: 'Open Sans' , 'Helvetica Neue' , sans-serif;
    -webkit-font-smoothing: antialiased ;
}

.contact-info {
    background-color: aliceblue ;
}

.registration-field-group {
    display: block;
}

/*
.metadata-sharing {
  background-color: aliceblue ;
}

.provider-info {
  background-color: aliceblue ;
}
*/
