{{!-- <button class='btn btn-primary btn-xs'> --}}
<button class="{{if loginEnabled 'btn btn-primary btn-xs' 'btn btn-primary btn-xs disable-edit'}}">
    {{item.name}}
</button>
{{!-- TODO: remove loginEnabled check when login is enabled on production --}}
{{#if (and edit loginEnabled)}}
    <button class='btn btn-warning btn-xs'>
        {{fa-icon 'trash' click=(action 'remove' item)}}
    </button>
{{/if}}
