<button class='btn btn-primary btn-xs'>
    {{item.name}}
</button>
{{#if edit}}
    <button class='btn btn-warning btn-xs'>
        {{fa-icon 'trash' click=(action 'remove' item)}}
    </button>
{{/if}}
