{{#link-to 'curate.person' item.person invokeAction=(action 'track' item.person)}}
    <div style='font-size: 150%'>{{item.person.familyName}}, {{item.person.givenName}}</div>
{{/link-to}}
<!-- {{#if edit}}
    {{fa-icon 'trash' click=(action 'remove' item)}}
{{/if}} -->
