.tag {
    border-radius: 5px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 8px ;
    background: #337ab7;
    display: inline-block;
    font-size: 85%;
    margin-top: 4px;
}
