& {
  margin-bottom: 0px;
  border-bottom: none;

  a {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }
  }

  .login-btn {
    padding: 2px 15px;
    margin: 12px 15px;

    &:hover {
      background-color: #31b0d5 !important;
    }
  }

  .nav-user-dropdown {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .navbar-header {
    padding-top: 2px;
  }

  .share {
    color: white ;
    font-size: 18px ;
    padding-left: 10px;
    line-height: 45px ;
    background-color: transparent ;

  }

  .navbar-logo {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    height: 25px;
  }

  .share-logo {
    text-decoration: none;
  }

}

.gravatar > img {
    border: 1px solid #CDCDCD;
    margin-right: 5px;
}


.dropdown-menu {
  border: 1px solid rgba(100, 100, 100, 0.3);
}

.dropdown-menu > li > a:hover {
  color: rgba(255, 255, 255, 0.8);
}
