$color-white: #fff;
$color-gray-light: #cdcdcd;

& {
  border-bottom: 0;
  margin-bottom: 0;
}

a {
  color: $color-white;

  &:hover {
    color: $color-gray-light;
    cursor: pointer;
  }
}

.navbar-nav > li > a {
  color: $color-white;
  line-height: 20px;
  padding-bottom: 15px;
  padding-top: 15px;

  &:hover {
    color: $color-gray-light;
    cursor: pointer;
  }
}

#login-btn {
  margin: 12px 15px;
  padding: 2px 15px;

  &:hover {
    background-color: #31b0d5;
  }
}

.nav-user-dropdown {
  padding-bottom: 8px;
  padding-top: 12px;
}

.navbar-header {
  padding-top: 2px;
}

.share {
  background-color: transparent;
  color: $color-white;
  font-size: 18px;
  line-height: 45px;
  padding-left: 10px;
}

.navbar-logo {
  float: left;
  height: 25px;
  margin-left: 5px;
  margin-top: 10px;
}

.share-logo {
  text-decoration: none;
}

.gravatar > img {
  border: 1px solid $color-gray-light;
  margin-right: 5px;
}

.dropdown-menu {
  border: 1px solid rgba(100, 100, 100, 0.3);

  li > a:hover {
    color: $color-gray-light;
  }
}
