.navbar {
    min-height: 50px;
    margin-bottom: 25px;
    background-color: #204762;
}

.gravatar {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    height: 35px;
    margin-left: 5px;
    width: auto;
}

.hello-text {
    float: right;
    margin: 5px;
    margin-top: 15px;
    color: white;
}
.log-button {
    float: right;
    min-height: 50px;
}

.navbar-logo {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    height: 35px;
    width: auto;
}

.nav-link {
    float: right;
    color: white;
    padding: 5px;
    position: relative;
    display: block;
    font-size: 110%;
    padding-top: 14px;
    padding-right: 10px;
}

.nav-link:hover {
    color: #E0EBF3;
}

.nav-link .selected {
    background-color: #333333;
}
