.provider-filter {
    background-color: #f5f5f5;
    border-radius: 2px;
    margin: 4px;
    cursor: pointer;
}

a.provider-filter {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 4.5px;
    padding-left: 4.5px;
    display: block;
    text-decoration: none;
    color: inherit;
}

.provider-favicon {
    height: 16px;
    width: 16px;
    padding-right: 4px;
}
