<div class="col-sm-6 col-xs-12">
    <div class="provider-filter">
        {{#link-to "discover" (query-params sources=encodedParam) class="provider-filter"}}
            <img class="provider-favicon" src={{source.attributes.favicon}}>
            {{source.attributes.longTitle}}
        {{/link-to}}
    </div>
</div>
