.panel-default {
    font-family: 'Open Sans' , 'Helvetica Neue' , sans-serif;
    -webkit-font-smoothing: antialiased ;
    border-width: 0 ;

    > .panel-heading {
          background-color: white;
          display: flex;
          align-items: left;
          justify-content: left;
          border-color: black;
          color: black;
          padding-top: 0px;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 0px;
    }
}

.panel-body {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-select {
  background-color: white;
  color: black;
}

.ember-power-select-trigger {
    color: black;
    background-color: white;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0 ;
}

.ember-power-select-placeholder {
    color: gray;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: gray;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: gray;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray ;
}

.ember-power-select-status-icon{
    border-color: #333333 transparent transparent transparent;

}
