.panel-default {
    font-family: 'Open Sans' , 'Helvetica Neue' , sans-serif;
    -webkit-font-smoothing: antialiased ;
    box-shadow: none;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: #AAA;
    margin-bottom: 5px;

    > .panel-heading {
          background-color: white;
          display: flex;
          align-items: left;
          justify-content: left;
          border-color: transparent;
          color: black;
          padding-top: 5px;
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 0px;
    }
}

.panel-body {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-select {
    background-color: white;
    color: black;
    padding: 0px;
}

.ember-power-select-trigger {
    color: black;
    background-color: white;
    border-color: transparent;
    padding: 0px;
}

.ember-power-select-placeholder {
    color: #4f5050;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #4f5050;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #4f5050;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #4f5050;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4f5050;
}

.ember-power-select-status-icon{
    border-color: #333333 transparent transparent transparent;
}
