
{{#each facets as |facet|}}
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h4 class='title pull-left'>{{facet.title}}</h4>
            {{#if facet.helpText}}
                {{help-text-tooltip helpText=facet.helpText}}
            {{/if}}
        </div>
        <div class='panel-body'>
            {{component facet.component
            key=facet.key
            options=facet
            aggregations=aggregations
            state=(get facetStates facet.key)
            filter=(get facetFilters facet.key)
            onChange=(action 'facetChanged')
            data=facet.data
            date=facet.date}}
        </div>
    </div>
{{/each}}
