<div>
    query: {{stringifiedQuery}}
</div>

{{#each-in facets as |key facet|}}
    {{#if facet.component}}
        {{component facet.component
        key=key
        query=query
        facet=facet
        onChange=(action 'facetChanged')}}
    {{else}}
        {{search-facet-checkboxes
        key=key
        query=query
        facet=facet
        onChange=(action 'facetChanged')}}
    {{/if}}
{{/each-in}}
