
{{#each-in facets as |key facet|}}
    <div class='panel panel-default'>
        <div class='panel-heading'>
            {{facet.title}}
        </div>
        <div class='panel-body'>
            {{component facet.component
            key=key
            options=facet
            query=(get query key)
            onChange=(action 'facetChanged')}}
        </div>
    </div>
{{/each-in}}
