
{{#each facets as |facet|}}
    <div class='panel panel-default'>
        <div class='panel-heading'>
            {{facet.title}}
        </div>
        <div class='panel-body'>
            {{component facet.component
                paramName=facet.paramName
                options=facet
                aggregations=aggregations
                state=(get facetStates facet.paramName)
                states=facetStates
                updateFacet=(action 'facetChanged')
                data=facet.data
                loading=loading
            }}
        </div>
    </div>
{{/each}}
