<div class="providerBox">
    <i style="font-size: 1000%; margin-top: 10px; color: rgb(224, 235, 243) ;" class={{icon}}></i>
    <div class="providerBox-content">
        <span class="providerBox-text">{{label}}</span>
    </div>
    <span class="description">{{description}}</span>
</div>
