{{yield}}
<div class="recent-harvest">
  {{#each recentHarvest as |hl|}}
    {{#link-to "status.source-detail.log-detail" sourceConfig.label hl}}
      <td>
        {{status-emoji status=hl.status}}
      </td>
    {{/link-to}}
  {{/each}}
</div>
