{{#each data as |obj|}}
    <h4>{{obj.title}}</h4>
    <span>Contributors:
        {{#each obj.contributors as |contrib|}}
            contrib.familyName
        {{/each}}
    </span><br>
    <div>
        {{obj.description}}
    </div>
    <hr>
{{/each}}
