{{#each data as |obj|}}
    <h4>{{obj.title}}</h4>
    <span>Contributors:
        {{#each obj.contributors as |contrib|}}
            contrib.name
            {{#if contributors.indexOf(contrib) + 1 !== contributors.length}}
            ,
            {{/if}}
        {{/each}}
    </span>
    <div>
        obj.description
    </div>
    {{#if obj.tags}}
        {{#each obj.tags as |tag|}}
            {{tag.name}}
        {{/each}}
    {{/if}}
{{/each}}
