
<ul class="breadcrumb">
	<li>{{#link-to "status"}}Status Board{{/link-to}}</li>
	<li>{{#link-to "status.source-detail" label}}Harvest Log List{{/link-to}}</li>
</ul>


<h1 align="center" style="font-size:36px; font-family:courier;">{{model.id}}</h1>

<h1 align="center" style="font-size:46px; font-family:courier;">
	{{#status-emoji status=model.status}}{{/status-emoji}}
</h1>

<h1 align="center" style="font-size:34px; font-family:courier;">
	{{#status-context status=model.status}}{{/status-context}}
</h1>

<h2 style="font-size:22px; width: 98%; margin-left: 20px; line-height: 130%; background-color: #F8F8F8" >
  {{model.context}}
</h2>
