<div class='choices'>
    {{#power-select-multiple
        options=providers
        placeholder=placeholder
        selected=selected
        onchange=(action "changeFilter")
        as |provider|
    }}
        {{provider}}
    {{/power-select-multiple}}
</div>
