{{#if showPageControls}}
    <div class='text-center'>
        {{page-controls page=page totalPages=totalPages nextPage=(action 'nextPage') prevPage=(action 'prevPage')}} 
    </div>
{{/if}}
<ul>
    {{#each model.relatedWorks as |relation index|}}
        <li>{{relation.type}}: {{link-to-work work=relation.creativeWork}}</li>
    {{/each}}
</ul>
