<div>
    <div id="logo" style="text-align: center">
        <img height="20%" width="20%" style="display:block; margin-left:auto; margin-right:auto" src="assets/images/main_logo.png">
    </div>
    <h2 style="text-align: center">
        Please <a {{action 'login'}}>login</a> to {{message}}.
    </h2>
</div>
