<div id="logo" style="text-align: center">
    <img height="20%" width="20%" style="display:block; margin-left:auto; margin-right:auto" src="assets/images/main_logo.png">
</div>
<h2 style="text-align: center">
  Please <a style="cursor: pointer;" {{action 'login'}}>sign in with OSF</a> to {{message}}.
  <br>
  <small>New to OSF? Learn more and create an account <a href="//osf.io/">here</a>.</small>
</h2>
