<div class="index-footer row">
    <div class="col-xs-12" id="copyright">
        <p>
            Copyright © 2011-2016
            <a href="https://cos.io/">Center for Open Science</a>
            |
            <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">Terms of Use</a>
            |
            <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/PRIVACY_POLICY.md">Privacy Policy</a>
        </p>
    </div>
</div>
