<div class="bg-color-light">
    <div class="container">
        <div class="footer row">
            <div class="col-sm-4 center-block">
                <ul class="links"><h4>SHARE</h4>
                    <li><a href="mailto:share-support@osf.io">Contact</a></li>
                    <li><a href="https://github.com/CenterForOpenScience/SHARE">Backend Source Code</a></li>
                    <li><a href="https://github.com/CenterForOpenScience/ember-share">Frontend Source Code</a></li>
                    <li><a href="http://share-research.readthedocs.io/en/latest/index.html">Developer Docs</a></li>
                </ul>
            </div>
            <div class="col-sm-4 center-block">
                <ul class="links"><h4>Quick Links</h4>
                    <li><a href="/">Home</a></li>
                    <li>{{link-to 'Discover' 'discover'}}</li>
                    <li>{{link-to 'Aggregated Sources' 'sources'}}</li>
                    <li><a href="https://status.cos.io/">Status</a></li>
                </ul>
            </div>
            <div class="col-sm-4 center-block">
                <ul class="links"><h4>Learn More</h4>
                    <li><a href="http://share-research.org">share-research.org</a></li>
                    <li><a href="http://www.arl.org/">Association of Research Libraries</a></li>
                    <li><a href="https://osf.io/t3j94">SHARE on the OSF</a></li>
                    <li><a href="https://cos.io/">Center for Open Science</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 copyright">
            <p>
                Copyright © 2011-2017
                <a href="https://cos.io/">Center for Open Science</a>
                |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">Terms of Use</a>
                |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/PRIVACY_POLICY.md">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
