$darkest-color: #222;
$default-text-color: #4f5050;
$default-text-color-active: #337ab7;

.clickable {
    cursor: pointer;
}

.close-icon {
    padding-left: 8px;
}

.bubble {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 4px;
    margin: 2px 3px 2px 0;
    margin-left: -5px;  // prevents it from moving when selected
}

.type-filter-option {
    padding-bottom: 5px;
}

.expand-icon {
    font-size: 10px;
    color: dimgray;
    margin-left: -15px;
    padding-right: 3px;
}

a {
    color: $default-text-color;
}

a:hover {
    color: $darkest-color;
    text-decoration: none;
}

a:active {
    color: $default-text-color-active
}

.bubble > a {
    color: $darkest-color;
}

.active {
    color: $darkest-color;
}
