$darkest-color: #222;
$gray-color: #4f5050;  // minumum contrast that meets WCAG 2.0 AA/AAA standards
$default-text-color: #4f5050;
$default-text-color-active: #337ab7;
$default-link-hover-color: #23527c;

.row {
    font-family: 'Open Sans' , 'Helvetica Neue' , sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-data {
    color: $darkest-color;
}

.title > .redirect > a {
    color: darken($default-text-color-active, 10%)
}

.title > .redirect > a:hover {
    color: darken($default-text-color-active, 20%)
}

.title {
    padding-bottom: 0px;
}

.title-tile {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.published {
    padding-left: 4px;
}

.tag {
    border-radius: 5px;
    color: $darkest-color;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 15px ;
    background-color: darken(white, 10%);
    display: inline-block;
    font-size: 85%;
    margin-top: 4px;
}

.worktype {
    padding-top: 2px;
    padding-left:  15px;
    font-size: 85%;
    padding-bottom: 10px;
}

.redirect > a {
    color: $default-text-color-active;
}

.redirect > a:hover {
    text-decoration: none;
    color: $default-link-hover-color;
}

.redirect {
    margin-top: 0;
    margin-bottom: 5px;
}

.description {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.source-text {
    color: $darkest-color;
}

.extra {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
}

.filter {
    cursor: pointer;
    text-decoration: none;
}

.typefilter {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.retraction-alert {
    padding: 2px 8px;
}

.default-cursor {
    cursor: default;
}
