// minumum gray contrast that meets WCAG 2.0 AA/AAA standards
$default-text-color: #4f5050;
// bright blue
$default-text-color-active: #337ab7;
// dark blue
$default-link-hover-color: #23527c;

.row {
    font-family: 'Open Sans' , 'Helvetica Neue' , sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-data {
    color: $default-text-color;
}

.source-text {
    color: $default-text-color;
}

.title > .redirect > a {
    color: darken($default-text-color-active, 10%)
}

.title > .redirect > a:hover {
    color: darken($default-text-color-active, 20%)
}

.title {
   padding-bottom: 2px;
}

.title-tile {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.published {
    padding-left: 4px;
}

.tag {
    color: $default-text-color;
    display: inline-block;
    font-size: 85%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    margin: 2px 4px 2px 0px;
}

.worktype {
    font-size: 85%;
    margin-top: -2px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.type-label {
    padding: 3px 5px 3px 5px;
}

.retraction-alert {
    padding: 2px 8px;
}

.redirect > a {
    color: $default-text-color-active;
}

.redirect > a:hover {
    text-decoration: none;
    color: $default-link-hover-color;
}

.redirect {
    margin: 0px;
    padding-right: 0px;
}

.date-line-padding {
    padding: 0px 15px 0px 15px;
}

.default-line-padding {
    padding: 2px 15px 2px 15px;
}

.default-cursor {
    cursor: default;
}
