.tags {
    padding-bottom: 2px;
}

.tag {
    border-radius: 5px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
    background: #5bc0de;
    display: inline-block;
    font-size: 75% ;
}

.redirect>a {
    color: #214f77;
}

.description {
    padding-top: 8px;
    padding-bottom: 12px;
}

.extra {
    padding-top: 2px;
    padding-bottom: 2px;
}

.filter {
    cursor: pointer;
}
