<div class="infoBox">
    <div class="infoBox-content">
        <span class="infoBox-text">{{label}}</span>
    </div>
    <i style="font-size: 1000%; margin-top: 10px; color: #5b5e59 ;" class={{icon}}></i>
</div>
