<div>
    <img height="20%" width="20%" style="display:block; margin-left:auto; margin-right:auto" src='assets/images/main_logo.png'>
</div>
<div class="text-muted text-center"><small>Notice: this is a public beta release</small></div>
