<div id="content">
    <div id="content-banner">
        <img alt="Maintenance" src="/assets/images/maintenance.png">
    </div>
    <div id="content-title">
        <h1>We'll be right back!</h1>
    </div>
    <div id="content-text">
        <div id="content-firstline">
            SHARE is down for temporary maintenance. Please excuse us while we upgrade the site.
        </div>
    </div>
</div>
