<div class='error-page content'>
    <div class='container text-center'>
        <h1>We'll be right back!</h1>
        <img alt='Maintenance' src='assets/images/maintenance.png' class='error-image img-responsive center-block'>
        <p>SHARE is down for temporary maintenance. Please excuse us while we upgrade the site.</p>
    </div>
</div>
