<div class='error-page'>
    <div class='container text-center'>
        <h1>Search is Unavailable</h1>
        <p>SHARE Search is temporarily unavailable. We have been notified and are working to fix the problem. Please try again later.</p>
        <img alt='Maintenance' src='assets/images/maintenance.png' class='error-image img-responsive center-block'>
    </div>
</div>
