
<h1 align="center" class="text-muted" style= "font-size:5rem; font-family:courier;">SHARE HARVESTER STATUS BOARD</h1>

<div>
<style>
table, th, td {
		padding: 3rem;
		padding-top: 2rem;
		border-bottom: solid #d9d9d9;
}
th {
	font-family:Courier;
	font-size: 3rem;
	color: #0099ff;
	padding-bottom: 2px;
}
td{
	font-family:courier;
	font-size: 2rem;

}
</style>
	<table style="width:95%" align="center" class="table">
	  <tr>
	    <th>STATUS</th>
	    <th>NAME</th>
	    <th>LAST HARVEST</th>
			<th>ID</th>
			<th>DESCRIPTION</th>
	  </tr>
		{{#each harvests as |harvest|}}
	  <tr>
	   	<td>
				
		 </td>
	  </tr>
		{{/each}}
	</table>
</div>
