<div> 
	<table class = "Normalized-data table"> 
		<tr>
			<th>Data Id</th>
		</tr>  
		{{#each model as |nd|}} 
		<tr>
			<td>{{nd.id}}</td>
			data type <td> {{nd.type}}</td> 
		</tr>
		{{/each}}
	</table> 
</div>

