<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <h1> My Profile</h1>
        </div>
    </div>
    <br>
    {{#if curationEnabled}}
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">OAuth2 Token</span>
                <input type="text" class="form-control" value={{session.data.authenticated.user.token}} readonly>
            </div>
        </div>
    </div>
  {{/if}}
    {{#if model}}
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Source registration requests</h2>
                    </div>
                </div>
                {{#each model as |registration|}}
                    {{registration-status registration=registration}}
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{outlet}}
</div>
