<div class="container content">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <h1> My Profile</h1>
        </div>
    </div>
    <br>
    {{#if model}}
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Source registration requests</h2>
                    </div>
                </div>
                <p>
                    We have paused the development of new SHARE data providers.
                    Please contact <a href="mailto:info@share-research.org">info@share-research.org</a>
                    if you have any questions.
                </p>
                {{#each model as |registration|}}
                    {{registration-status registration=registration}}
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{outlet}}
</div>
