<div>
  <table class="rawTableData"
    <th>Datum</th>
    <th>dateHarvested</th>
      <tr>
		    {{#each model as |rd|}}
			   <td>{{rd.datum}}</td>
         <td>{{rd.dateHarvested}}</td>
      </tr>
		    {{/each}}
  </table>
</div>
