<div>
  <table class="rawTableData">
    <tr> 
      <th>Datum</th>
      <th>DateHarvested</th>
    </tr> 
  {{#each model as |rd|}}
      <tr> 
       Datums: <td>{{rd.datum}}</td>
      </tr>
  {{/each}} 
  </table> 
</div>
