<div class="registration-message-container">
    <h3 class="registration-message">
        We have paused the development of new SHARE data providers. Please contact
        <a href="mailto:info@share-research.org">info@share-research.org</a> if you have any questions.
    </h3>
    <p>{{#link-to 'discover'}}Discover research in SHARE{{/link-to}}</p>
</div>
