<div class="container content">
    <div>
        <h4 style="text-align: center">
            We have paused the development of new, SHARE data providers. Please contact
            <a href="mailto:info@share-research.org">info@share-research.org</a> if you have questions.
        </h4>
        <p>{{#link-to 'discover'}}Search SHARE{{/link-to}}</p>
    </div>
</div>
