{{outlet}}

{{page-nav atLastPage=atLastPage atFirstPage=atFirstPage nextPage=(action 'nextPage') prevPage=(action 'prevPage')}}

<h1 align="center" class="text-muted" style="font-size:5rm; font-family:courier;">{{model.label}}</h1>

<div>
	<style>
	table, th, td {
		padding: 3rem;
		padding-top: 2rem;
		border-bottom: solid #d9d9d9;
	}
	th {
		font-family:Courier;
		font-size: 2rem;
		color: #0099ff;
	}
	td{
		font-family:courier;
		font-size: 2rem;
	}
	</style>
		<table style="width:95%" align="center" class="table">
			<tr>
				<th>SOURCE</th>
				<th colspan="10">RECENT HARVESTS</th>
			</tr>
      {{#each model as |sc|}}
			      {{#link-to "harvestloglist" sc.label sc.id}}{{#status-board title=sc.label}}{{/status-board}}{{/link-to}}
		        {{#source-health sourceConfigId=sc.id}}
			      {{/source-health}}
      {{/each}}
</table>
</div>
