{{outlet}}

<h1 align="center" class="text-muted" style="font-size:5rm; font-family:courier;">{{model.label}}</h1>

<div>
	<style>
	table, th, td {
		padding: 3rem;
		padding-top: 2rem;
		border-bottom: solid #d9d9d9;
	}
	th {
		font-family:Courier;
		font-size: 2rem;
		color: #0099ff;
		padding-bottom: 2px;
	}
	td{
		font-family:courier;
		font-size: 2rem;
	}
	</style>
		<table style="width:95%" align="center" class="table">
			<tr>
				<th>SOURCE</th>
				<th colspan="10">RECENT HARVESTS</th>
			</tr>

<tbody>
{{#each model as |sc|}}
		<tr>
			<td>{{#link-to "harvestloglist" sc.label sc.id}}{{#status-board title=sc.label}}{{/status-board}}{{/link-to}}</td>
			<td></td>
				{{#each sc.recentHarvests as |hl|}}
					<td>{{#status-emoji status=hl.status}}{{/status-emoji}}</td>
				{{/each}}

	</tr>
{{/each}}
</tbody>


</table>
</div>
