{{outlet}}

<h1 align="center" class="text-muted" style="font-size:5rm; font-family:courier;">{{model.label}}</h1>

<div>
	<style>
	table, th, td {
		padding: 3rem;
		padding-top: 2rem;
		border-bottom: solid #d9d9d9;
	}
	th {
		font-family:Courier;
		font-size: 2rem;
		color: #0099ff;
		padding-bottom: 2px;
	}
	td{
		font-family:courier;
		font-size: 2rem;
	}
	</style>
		<table style="width:95%" align="center" class="table">
			<tr>
				<th>SOURCE</th>
				<th>RECENT HARVESTS</th>

			</tr>
{{#each model as |sc|}}
		<tr>
			<td>{{#link-to "harvestloglist" sc}}{{#status-board title=sc.label}}{{/status-board}}{{/link-to}}</td>
		<td>{{#status-board hl=sc.recentHarvests}}{{/status-board}}</td>
	</tr>
{{/each}}

</table>
</div>
