{{outlet}}

<h1>STATUS BOARD</h1>

{{#each model as |sc|}}
	<li>scids:{{sc.id}}</li>
	<li>recentharvests{{sc.recentHarvests}}</li>
	{{#each sc.recentHarvests as |rh|}}
		<li>harvestloop{{rh.id}}</li>
	{{/each}}
{{/each}}

<!-- use query method on the store
method on the model
route should be getting most of the
data fro that page
get the first page of harvest logs for each
source config -->
