{{outlet}}
<div class='col-sm-6'>
{{search-facet-set onChange='queryFacetChanged' facets=(hash
    institution=(hash title='Institution' choices=model.institutions)
    funder=(hash title='Funder' choices=model.funders)
    tag=(hash title='Tag' choices=model.tags)
    venue=(hash title='Venue' choices=model.venues)
    award=(hash title='Award' choices=model.awards)
    dataProvider=(hash title='Data Provider' choices=model.dataProviders)
    )
}}
</div>
<div class='col-sm-6'>
    {{search-results data=searchData}}
</div>
